.download{
    padding: 70px 170px;
    padding-bottom: 114px;
    background-color: $white;

}

.download-title{
    font-size: $_30px;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
    text-align: center;
    padding: 15px 50px;
    margin-bottom: 10px;

}
.download-text{
    text-transform: uppercase;
    color: rgba(0, 0, 0, 1);
    text-align: center;
    font-weight: 700;
    font-size: $_18px;
    margin-bottom: 50px;
}
//btn
.download-btn{
    &:hover{
        background-color: $button_hover;
        transition: 0.2s;

    }
    &:active{
        background-color: $button_normal;
     box-shadow: 4px 4px 30px $button_normal;
        transition: 0.2s;
    }
    width: 370px;
    height: 80px;
    display: block;
    margin: auto;
    text-transform: uppercase;
    font-size: $_24px;
    font-weight: 900;
    background-color: $button_normal ;
    border: none;
    transition: 0.2s;
    a{
        color: $white
    }
   
}

  




