.activebox{
 
  @media (max-width:1400px){   
    padding: 0px 50px 100px 50px;      
}
@media (max-width:1300px){   
  padding: 0px 30px 100px 30px;      
}
@media (max-width:1200px){   
  padding: 0px 20px 100px 20px;      
}
  
    @media (max-width:1024px){   
        padding: 0px 0px 100px 0px;      
    }
    @media (max-width:320px){   
        padding: 0px 0px 50px 0px;      
    }
    padding: 0px 100px 100px 100px;
}


.wrapper {
    @media  (max-width:1024px){
      margin-bottom: 157px;
    }
    @media  (max-width:600px){
      margin-bottom: 90px;
    }
    @media  (max-width:500){
      margin-bottom: 70px;
    }
    @media  (max-width:450px){
      margin-bottom: 20px;
    }
    @media  (max-width:320px){
      margin-bottom: 50px;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 130px;
  }
//first-part of activebox
.header {
    @media (max-width:850px) {
        flex-wrap: wrap;
        justify-content: center;
    }
    @media (max-width:1024px) {
     max-width: 1024px;
    }
    @media (max-width:450px) {
      
        border-bottom: none;
    }
    @media (max-width:320px) {
        max-width:320px;
        padding: 20px 0;
        border-bottom: none;
    }
  
    width: 100%;
    max-width: 1510px;
    padding: 30px 0;
   display: flex;
   justify-content: space-between;
   border-bottom: 2px solid #BABBC5;

  }



  //logo 
  .logo {
    @media (max-width:836px) {
        margin-bottom: 15px; 
      }
      @media (max-width:320px) {
        font-size: $_18px; 
      }
     
    font-size: $_36px;
    font-weight: 700;
    color: #656980;
    text-transform: uppercase;
    margin-right: 15px;
    &:after{
        content: "box";
        display: inline-block;
        font-weight:200;
        color: #FFFFFF;
    }
  }

//nav list
  .navigation {
    @media (max-width:450px) {
        display: none;
        
    }
      @media (max-width:320px) {
          display: none;
          
      }
    display: flex;
    align-items: center;
    .navigation-list{
        display: flex;
    
    .navigation-list-item{
        @media (max-width:622px) {
            margin-left: 40px;
        }
        @media (max-width:543px) {
            margin-left: 30px;
        }
        margin-left: 60px;
        a{
            color: $white;
            text-transform: uppercase;
            font-size: $_13px;
            font-weight: 700;
            line-height: 15.3px;
            transition: 0.1s;
         &:active{
             color: rgba(231, 20, 20, 1);
             transition: 0.1s;

         }
        }
    &:first-child{
        margin-left: 0;
    }
    }
    }
  }
 
 //secondpart of activebox section
 .secondpart{
     .title{
        @media  (max-width:500px){
            font-size: 48px;
          }
         @media (max-width:320px) {
             font-size: $_36px;
         }
         font-size: $_64px;
         font-weight: 900;
        //  line-height: 75px;
         color: $white;
         text-align: center;
         text-transform: uppercase;
         margin-bottom: 30px;
     }
     .secondpart-text{
        @media  (max-width:500px){
            font-size: $_18px;
          }
        @media  (max-width:450px){
            padding: 0;
          }
         @media (max-width:320px) {
            font-size: $_13px;
            max-width: 280px;
            padding:0px;
            margin-bottom: 50px;
         }
         font-size: $_24px;
         font-weight: 400;
         color: $white;
         text-align: center;
         margin-bottom: 82px;
         padding: 0 100px;

     }
     //btn
     .button_activebox{
         @media (max-width:1024px) {
            width: 313px;
            height: 77px;
             
         }
         @media (max-width:1024px) {
            width: 280px;
            height: 60px;
             
        }
         display: block;
         margin: auto;
         text-transform: uppercase;
         width: 370px;
         height: 80px;
         border: none;
         background-color: $button_normal;
         font-size: $_24px;
         font-weight: 900;
         color: $white;
         transition: 0.2s;
         &:hover{
         background-color: $button_hover;
         transition: 0.2s;
         }
         &:active{
            background-color: $button_normal;
             box-shadow: 4px 4px 30px $button_normal;
             transition: 0.2s;

         }
     }

 }
 //activebox офромление бэкграунда с маской
   /* временно для activebox*/
   .activebox{
    background:url(../images/background_header.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 2;
  
    &::after{
        content: "";
        display: block;
        background: rgba(37, 43, 73, 0.8);
        position: absolute;
        top:0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -2;
    }
}

//effects
.navigation-list-item{
    border-bottom: 1px solid transparent;
&:hover{
    border-bottom: 1px solid #BABBC5;
}
&:active{
    border-bottom: 1px solid $button_hover;
 
}
}
