*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
@import "cdn.scss";
@import "variables.scss";
@import "header.scss";
@import"features.scss";
@import"work.scss";
@import"team.scss";
@import"download.scss";
@import"info.scss";
@import"footer.scss";
@import"burger.scss";


html{
    font-family: "Raleway";
}
.container{
  //adaptive tablet
  @media (max-width:1024px) {
 max-width:1024px;
  }

   //adaptive mobile
   @media (max-width:320px) {
    max-width:320px;
     }
    max-width: 1510px;
    margin: auto;
    padding: 0 15px;
}

// section {
//     padding: 70px 0;
//   }


