//section 

.our_team{
    max-width: 1510px;


    @media (max-width:1024px) {
        max-width: 1024px;
    }
    @media (max-width:320px) {
        max-width: 320px;
    }
    .container{
        padding: 100px 140px;
        @media (max-width:1510px){
            padding: 100px 140px;
            padding-bottom: 10px;
        }
        @media (max-width:1450px){
            padding: 100px 100px;
            padding-bottom: 10px;
        }
        @media (max-width:1370px){
            padding: 100px 60px;
            padding-bottom: 10px;
        }
        @media (max-width:1250px){
            padding: 100px 60px;
            padding-bottom: 10px;
        }
        @media (max-width:1210px){
            padding: 100px 40px;
            padding-bottom: 10px;
        }
        @media (max-width:1170px){
            padding: 100px 30px;
            padding-bottom: 10px;
        }
        @media (max-width:1024px){
            padding: 90px 30px;
            padding-bottom: 10px;
        }
        @media (max-width:320px){
            padding: 35px 20px;
           // padding-bottom: 10px;
        }
       
    }
}
//wrap
.team-wrap{
    @media (max-width:540px) {
        
        justify-content: center;
    }
    @media (max-width:320px) {
        margin: 0;
        justify-content: center;
    }
  
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -15px;
   
  
}
//card 
.team-card{
    @media (max-width:1500px) {
        width: 270px;
    }
    @media (max-width:1300px) {
        width: 240px;
    }
    @media (max-width:1150px) {
        width: 220px;
    }
    @media (max-width:1030px) {
        width: 215px;
    }
    @media (max-width:1024px) {
        width: 210px;
    }
    @media (max-width:320px) {
        width: 280px;
        margin-bottom: 50px;
    }
    width: 250px;
    margin: 0 15px;
    margin-bottom: 10px;


.person-photo{
    @media (max-width:1500px) {
        width: 270px;
        height: 270px;
    }
    @media (max-width:1300px) {
        width: 240px;
        height: 240px;
    }
    @media (max-width:1150px) {
        width: 220px;
        height: 220px;
    }
    @media (max-width:1030px) {
        width: 215px;
        height: 215px;
    }
    @media (max-width:1024px) {
        width: 210px;
        height: 210px;
        margin-bottom: 20px;
    }
    @media (max-width:320px) {
        width: 280px;
        height: 280px;
        margin-bottom: 20px;
    }

    width: 250px;
    height: 250px;
    margin-bottom: 30px;
    img{
        width: 100%;
        height: 100%;
    }
}
.person-title{
    h4{
        @media (max-width:1024px) {
            font-size: $_18px;
        }
        font-size: $_24px;
        font-weight: 700;
        color: $cards_title;
        margin-bottom: 6px;
    }
    h5{
        @media (max-width:1024px) {
            font-size: $_13px;
        }
        @media (max-width:320px) {
            font-size: $_13px;
            margin-bottom: 30px;
        }
        font-size: $_18px;
        font-weight: 400;
        text-transform: uppercase;
        color: $button_normal;
        margin-bottom: 17px;
    }
}
.person-text{
    @media (max-width:1024px) {
        font-size: $_13px;
    }
    @media (max-width:320px) {
        max-width:280px;
        font-size: $_13px;
        margin-bottom: 50px;
    }
    color: $cards_text;
    font-weight: normal;
    font-size: $_18px;
    margin-bottom: 37px;
 
}
.icon-list{
    display: flex;
    flex-direction: row;
    .icon{
        @media (max-width:1024px) {
            width: 31px;
            height: 31px;
        }
        width: 39px;
        height: 39px;
        border:1px solid $frame_border;
        margin-right: 6px;
        &:last-child{
            margin-right: 0px;
        }
        a{
            @media (max-width:1024px) {
                font-size: 15px;
            }
            height: 100%;
            font-size: $_18px;
            color: $frame_border;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

}