$button_normal : rgb(255, 67, 67);
$button_hover : rgb(231, 20, 20);
$work_hover : rgba(255, 67, 67, 0.8);
$work_active : rgba(185, 12, 12, 0.8);
$white: #FFFFFF;
$cards_title :rgba(45, 48, 51, 1);
$cards_text :rgba(108, 114, 121, 1);

$_64px: 4rem;
$_36px: 2.25rem;
$_30px: 1.875rem;
$_24px: 1.5rem;
$_18px: 1.125rem;
$_13px:0.813rem;
