.work-element{
    @media (max-width:320px) {
        width: 50%;
    }
    @media (max-width:800px) {
        width: 50%;
    }
   
    width: 25%;
    // max-width: 100%;
    display: flex;
    transition: 0.2s;
    position: relative;
    z-index: 1;
  
    img{
        width: 100%;
        height: 100%;
    }
}
//positioning photos
.work-wrap {
    @media (max-width:800px) {
         
        flex-wrap: wrap;
     }
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 100%;
  
}

//decoration hover
.work-element:hover{

    &::before{
     
        @media (max-width:800px) {
            font-size: $_36px;
            top:40%
        }
        @media (max-width:600px) {
            font-size: $_24px;
            top:40%
        }
        @media (max-width:400px) {
            font-size: $_18px;
            
        }
        @media (max-width:320px) {
            font-size: $_18px;
            top:40%
        }
        content:  "progect name ";
        color: $white;
        font-size: $_24px;
        text-transform: uppercase;
        max-width: 100%;
        font-weight: 900;
        display:  flex;
        align-items: flex-start;
       justify-content: center;
        position: absolute;
        top:30%;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 20;
        }
 
    &::after{
        @media (max-width:800px) {
            font-size: $_24px;
            padding-top: 50px;
        }
        @media (max-width:600px) {
            font-size: $_18px;
            padding-top: 40px;
        }
        @media (max-width:500px) {
            padding-top: 30px;
        }
     
        @media (max-width:400px) {
            font-size: $_13px; 
            padding-top: 20px; 
        }
        @media (max-width:320px) {
            font-size: $_13px;
            padding-top: 20px;
            
        }
    content:  "User Interface Design ";
    color: $white;
    font-size: $_18px;
    text-align: center;
    max-width: 100%;
    font-weight: 400;
    display:  flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 67, 67, 0.8);
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    transition: 0.2s;
    }
}

//decoration active
.work-element:active{

    &::before{
     @media (max-width:800px) {
            font-size: $_36px;
            top:40%
        }
        @media (max-width:600px) {
            font-size: $_24px;
            top:40%
        }
        @media (max-width:400px) {
            font-size: $_18px;
            
        }
        @media (max-width:320px) {
            font-size: $_18px;
            top:40%
        }
        content:  "progect name ";
        color: $white;
        font-size: $_24px;
        text-transform: uppercase;
        max-width: 100%;
        font-weight: 900;
        display:  flex;
        align-items: flex-start;
       justify-content: center;
        position: absolute;
        top:30%;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 20;
        }
 
    &::after{
        @media (max-width:800px) {
            font-size: $_24px;
            padding-top: 50px;
        }
        @media (max-width:600px) {
            font-size: $_18px;
            padding-top: 40px;
        }
        @media (max-width:500px) {
            padding-top: 30px;
        }
        @media (max-width:400px) {
            font-size: $_13px;
            padding-top: 20px;  
        }
        @media (max-width:320px) {
            font-size: $_13px;
            padding-top: 20px;
            
        }
 color: $white;
    font-size: $_18px;
    text-align: center;
    max-width: 100%;
    font-weight: 400;
    display:  flex;
    justify-content: center;
    align-items: center;
    background:  rgba(185, 12, 12, 0.8);
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    transition: 0.2s;
    }
}
